.fundamentals-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px; /* Adjust max-width as needed */
    margin: auto;


    background-color: #fff; /* White background */
    padding: 20px;
    margin: 20px 0; /* Adjust top and bottom margin */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for a subtle lift */

  }
  



  .left-column,
  .right-column {
    width: 48%; /* Adjust the width as needed */
    margin-bottom: 20px;
  }
  
  @media (max-width: 600px) {
    .fundamentals-container {
      flex-direction: column;
    }
  
    .left-column,
    .right-column {
      width: 100%;
    }
  }  